#img-bg{
    background-image: url('https://i.pinimg.com/564x/d1/88/64/d1886461ea2bb0ca79ff7cb367269499.jpg');
    min-height: 690px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}