#img-bg{
    background-image: url('https://image.freepik.com/free-vector/girl-power-illustration_1015-924.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}